.footer {
  padding: 60px 60px 32px;
  background: #0f0f10;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-logo img {
  height: 32px;
  width: 32px;
}

.footer-logo p {
  color: #f2f2f2;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-links a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a img {
  width: 24px;
  height: 24px;
}

.footer hr {
  border: none;
  height: 1px;
  background: #ffffff10;
  margin-bottom: 24px;
}

.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  color: #575757;
  font-size: 12px;
  letter-spacing: 0.5px;
}