#hero {
  background:
    linear-gradient(0deg, rgba(16, 16, 16, 0.85), rgba(16, 16, 16, 0.40)),
    url("../assets/hero.avif");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 164px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 900px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #ffffff;
}

.hero-text h1 {
  font-family: "Inter";
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -3.2px;
}

.hero-text p {
  max-width: 760px;
  font-family: "Inter";
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
}

.hero-cta button {
  font-size: 24px;
  height: 74px;
  width: 282px;
}