* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

section {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.section-title {
  font-family: "Inter";
  font-weight: bold;
  line-height: 64px;
  font-size: 56px;
  text-align: center;
  color: #000102;
}

.section-subtitle {
  font-family: "Inter";
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
  margin-top: 8px;
  text-align: center;
  color: #575757;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background: #e5e7eb;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  height: 48px;
  width: 188px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #1d4ed8;
  font-family: "Inter", "Arimo", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}